---
const listOpcs = [
    {name: "About", href:"#id_aboutMe"},
    {name: "Projects", href:"#id_projects"}
];
---

<nav class="w-full h-1/4">
    <ul class="flex gap-2 justify-end px-8 py-4">
        {listOpcs.map((opc, index)=>{                    
                return (
                    <a class="hover:text-primaryLight" href={opc.href}><li>{opc.name}</li></a>
                    <li>{index != listOpcs.length-1 ? "/" : null}</li>
                )                    
            }                        
        )}                
    </ul>
</nav>