---
const {title, description, technologies, urlImg} = Astro.props;
---

<div class="w-full flex backdrop-blur-sm bg-secontaryDark/30">
    <div class="basis-1/2 p-6">
        <h3 class="text-3xl pb-4">Titulo</h3>
        <p  class="w-full text-justify pb-2 ">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur cum adipisci qui voluptatibus. Atque quibusdam itaque sunt veniam velit nisi non dolores quisquam, delectus aperiam ipsum provident maxime, libero voluptatum.
        </p>
        <div class="flex gap-2">
            <img class="w-10" src="../../public/icons/js.svg" alt="">
            <img class="w-10" src="../../public/icons/react.svg" alt="">
        </div>
    </div>
    <div class="basis-1/2">
        <img src="https://imgs.search.brave.com/qmSUMmwBNb5V2eAtA61laqdZFRMsQ6lTkPay8OxeqAw/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZG4u/ZXVyb2lubm92YS5l/ZHUuZXMvaW1nL3N1/YmlkYXNFZGl0b3Iv/cHVibGlycmVwb3J0/YWplcyUyMCg3KS0x/NjI2MTY3MjQ5Lndl/YnA" alt="project">
    </div>    
</div>