---
import Project from './Project.astro';

import {listProjects} from '../../public/data/data.js';
---

<section id="id_projects" class="px-4 md:px-20 w-full">
    <h2 class="text-2xl text-primaryLight font-bold py-4">Mis proyectos</h2>

    <div class="flex flex-col gap-4 py-4">
        {
            listProjects.slice(0,3).map(project => <Project {...project} />)
        }
    </div>
</section>