@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Press+Start+2P&family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --primary-light: #8dd2db;
  --primary: #44a9c3;
  --primary-dark: #083f53;

  --light: #c2e6e2;
  --dark: #0a1128;
  --dark-black: #070709;

  --asparagus: #708e5b;
  --cal-poly-green: #1d4f23;
}

/* Clases generales */
* {
  font-family: "Roboto", sans-serif;
  color: #eaeaea;
  box-sizing: border-box;
}

body {
  background: radial-gradient(
    circle at bottom left,

    #083f53 2%,
    #0a1128 15%,
    #070709 50%
  );
}

.contenedor {
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contenedor > div:nth-child(1) {
  height: auto;
  width: 40%;
}

.contenedor > div:nth-child(2) {
  height: 100%;
  width: 45%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor > div:nth-child(1) p {
  font-size: large;
  text-align: justify;
  font-weight: 400;
  justify-content: center;
  text-align: center;
}

.titulo {
  font-family: "Press Start 2P", sans-serif;
  margin-bottom: 30px;
  text-align: center;
}
