@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Press+Start+2P&family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --mint-green: #c2e6e2;
  --non-photo-blue: #8dd2db;
  --moonstone: #44a9c3;
  --asparagus: #708e5b;
  --cal-poly-green: #1d4f23;
  --midnight-green: #083f53;
  --oxford-blue: #0a1128;
  --dark-black: #070709;
}

.titulo {
  font-family: "Press Start 2P", sans-serif;
  margin-bottom: 30px;
  text-align: center;
  color: #eaeaea;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  background: radial-gradient(
    circle at bottom left,

    #083f53 2%,
    #0a1128 15%,
    #070709 50%
  );
}

header {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Info */
.info {
  height: 40%;
  width: 40%;
  color: #eaeaea;
}

.info p {
  font-size: large;
  text-align: justify;
  font-weight: 400;
  justify-content: center;
}
/* Logo */
.content-logo {
  height: 100%;

  display: flex;
  align-items: center;
}

.content-logo .circulo {
  height: 70vh;
  width: 70vh;
  border-radius: 50%;
  background: rgb(68, 169, 195);
  background: radial-gradient(
    circle,
    rgba(68, 169, 195, 1) 10%,
    rgba(135, 207, 217, 1) 88%,
    rgba(194, 230, 226, 1) 100%
  );
  overflow: hidden;

  box-shadow: 0px 0px 50px 10px #083f53, 0px 0px 0px 8px #27572d;
}

.content-logo .circulo .avatar {
  width: 90%;
  height: 100%;
  background-image: url(../media/ImagenFondo.png);
  background-repeat: no-repeat;

  margin: auto;
}

main {
  padding: 16px 80px;
}

/* Proyectos */
#card-proyect {
  position: relative;
}

#info-proyect {
  position: absolute;
}
